.TutTB-HasIcon {
	list-style-image: url("chrome://tuttoolbar/skin/image_sheet.png");
}

#TutTB-MainMenu {
	-moz-image-region: rect(0px 16px 16px 0px);
}

#TutTB-Combined-Button {
	-moz-image-region: rect(0px 32px 16px 16px);
}

#TutTB-Combined-Button > .toolbarbutton-menubutton-button {
    -moz-box-orient: horizontal;
}

#TutTB-Web-Button,
#TutTB-Combined-Web {
    -moz-image-region: rect(0px 48px 16px 32px);
}

#TutTB-Combined-Image {
    -moz-image-region: rect(0px 64px 16px 48px);
}

#TutTB-ResizeBar {
    background-image: url("chrome://tuttoolbar/skin/gripper.png");
    min-height: 22px;
    min-width: 3px;
}

#TutTB-ResizeSplitter {
    background: transparent;
    border: none !important;
}
